body {
    background: #374151;
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    max-width: 1080px;
    margin: 80px auto;
}

header a {
    line-height: 18.75px;
    color: #FFFFFF;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

#logoBlog {
    font-weight: 600;
    font-size: 18px;
    line-height: 22.63px;
}

#nameBlog {
    font-size: 18px;
    line-height: 21.09px;
}

header input {
    background-color: rgba(31, 41, 55, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    color: #FFFFFF;
    height: 40px;
    width: 224px;
    border: none;
    border-radius: 100px;
    padding: 14px 18px;
}

input::placeholder {
    color: #FFFFFF;
}

#heroDate {
    font-size: 14px;
    line-height: 16.47px;
    width: 180px;
    margin-bottom: 14px;
}

section {
    text-align: center
}

h1 {
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    width: 525px;
    margin: 0 auto 30px;
}

#image1 {
    max-width: 50px;
    border-radius: 100%;
    margin: 0 auto;
}

.heroName {
    line-height: 28px;
    width: 148px;
    margin: 0 auto 0px;
}

.heroJob {
    font-size: 14px;
    line-height: 28px;
    width: 85px;
    margin: 0 auto 28px;
}

#image2 {
    max-width: 896px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 69px;
}

.mainText {
    font-size: 20px;
    line-height: 32px;
}

p {
    font-size: 16px;
    line-height: 30px;
    width: 708px;
    margin: 0 auto 30px;
    text-align: start;
}

footer>p {
    line-height: 28px;
    width: 226px;
    margin: 103px auto 77px;
}